:root {
    --bordes: 1px solid rgb(168, 206, 236);
}

#tech{
    font-size: 35px;
    color: rgb(155, 190, 219);
}

/**************************
 * CSS para la sidebar de los grupos 
 */

#groups {
    width: 300px;
    min-height: 100vh;
    border-right: var(--bordes);
    float: left;
    text-align: start;
}

.sign {
    background-color: rgb(38, 83, 104);
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.group {
    background-color: var(--gray-1);
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.group:hover {
    background-color: var(--gray-2);
}

/**************************
 * CSS para las pestanas de la aplicacion
 */

#tabs {
     border-bottom: var(--bordes);
     text-align: left;
     height: 30px;
}

.tab {
    padding: 5px;
    font-size: 15px;
    background-color: var(--gray-1);
    border: 1px solid var(--gray-5);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 6px;
    cursor: pointer;

    position: relative;
    top:8px;
}

.tab:hover {
    background-color: var(--gray-2);
}
